.btnsignin {
    height: 46px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    flex-shrink: 0;

}
h1 {
    margin-bottom: 10px;
    font-size: 36px;
    font-family: Arial Black;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
p {
    margin-bottom: 20px;
    color: #000;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    height: 23px;
    line-height: normal;
}
.sane {
    color: #549ff9;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.dfd {
    width: 330px;
    height: 46px;
    border-radius: 10px;
    border: 1px solid var(--gray-30, #b4b4bb);
    background: var(--White-Base, #fff);
}

.ddd {
    width: 330px;
    height: 46px;
    border-radius: 10px;
    border: 1px solid var(--gray-30, #b4b4bb);
    background: var(--White-Base, #fff);

    font-size: 14px;
    font-style: normal;
    font-weight: 400;}
.first{
    width: 330px;
height: 46px;
flex-shrink: 0;
border-radius: 10px;
border: 1px solid var(--gray-30, #B4B4BB);
background: var(--White-Base, #FFF);
}
// .dsdsd{
//     color: #AAA;
// font-family: Roboto;
// font-size: 14px;
// font-style: normal;
// font-weight: 400;
// line-height: normal;
// }

